# Python

.venv
venv
__pycache__

# macOS

.DS_Store

# IDEs

.vscode

# Project

SLPM_656.21*
SLUS_209.49*
THIRD_U.BIN*

# Allow committing CC0 UI assets needed at build/runtime
# Keep other large asset dirs ignored, but include fighting_ui
assets
!assets/fighting_ui/**
asm
libs
bin
build
dist
public/bundle.*
ctx.c
.splache
temp
rom
node_modules
types/**/*.js
types/**/*.js.map
