modules = ["c-clang14", "nodejs-18", "python-3.12", "cpp-clang14"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run TypeScript Project"

[[workflows.workflow]]
name = "Run TypeScript Project"
author = 259688
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "tsc"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node dist/index.js"
